:root{
    --color-header: #2C334D;
    --color-logo: slateblue;
    --color-links: #33C88E;
    --color-corpo:  #17191B;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: var(--color-corpo);
}
/**HEADER***/
.header-color{
    background: var(--color-header);
    width: 100%;
    position: fixed;
    z-index: 200;
    top: 0;
}
.header-color section{
    max-width: 960px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    
}
.header-color section .logo{
    text-decoration: none;
    color: var(--color-logo);
    font-size: 1.4rem;
    margin-left: 10px;
}
.header-color section ul li{
    display: inline-block;
    margin: 0.5rem;
}
.header-color section ul li a{
    color: var(--color-links);
    font-size: 1.3rem;
    text-decoration: none;
}
/*CORPO*/
.corpo{
    max-width: 960px;
    justify-content: space-between;
    margin: 60px auto;
    flex-wrap: wrap;
    display: flex;
}
.lottie-config{
    margin-left: 10px;
}
.campo_texto{
    margin-left: 10px;
    width: 500px;
}
.campo_texto h1{
    color: var(--color-logo);
}
.campo_texto p{
    color: white;
    line-height: 1.5;
    font-size: 1.1rem;
}

/*informacao*/
.informacao{
    max-width: 960px;
    /* height: 970px; */
    margin: 0 auto;
    background: var(--color-header);
    text-align: center;
}
.informacao h1{
    text-align: center;
    color: var(--color-logo);
    font-size: 1.8rem;
}
.corpo-info{
    margin: 30px auto;
    margin-left: 10px;
}

.html-info,.css-info,.js-info,.react-info,.next-info{
    font-size: 1.6rem;
    margin-top: 5px;
    text-align: center;
}
.corpo-info .html-info{
    color: #DD4B25;
}
.corpo-info small{
    color: rgb(0, 119, 107);
}
.corpo-info .css-info{
    color: #0076C0;
}
.corpo-info .js-info{
    color: #F0C020;
}
.corpo-info .react-info {
    color: #5ED3F3;
}
.corpo-info .next-info{
    color: #000000;
}
.projetos{
    max-width: 960px;
    margin-top: 30px;
}
.link-site{
    font-size: 1.4rem;
    color: #5ED3F3;
    margin: 80px;
    text-decoration: none;
}
.foto-site {
    width: 900px;
    
}
.links-footer{
    text-decoration: none;
    font-size: 1.4rem;
    margin: 5px 0;
    display: block;
    color: var(--color-links);
}
.footer h1{
    margin-top: 10px;
}
.footer h3{
    margin: 5px 0;
}
@media screen and (max-width: 500px){
    .foto-site{
        width: 320px;
        /* margin-right: 10px; */
    }
    .campo_texto{
        margin-top: 10px;
        max-width: 380px;
    }
}